openapi: 3.0.4
info:
  title: LangApp
  description: |-
    Приложение для изучения языка
  termsOfService: https://www.back4app.com/terms-of-service.pdf
  contact:
    email: hello@world.ru
  version: 1.0.00
servers:
  - url: https://api-junior.skillmad.ru/api
tags:
  - name: user
    description: Действия с пользователем
  - name: words
    description: Слова
  - name: animals
    description: животные
  - name: websocket
    description: Сокеты
paths:
  /collections/users/records:
    post:
      tags:
        - user
      summary: Регистрация
      operationId: createUser
      requestBody:
        description: Регистрация
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRegister'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRegister'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        default:
          description: Unexpected error
    patch:
      tags:
        - user
      summary: Изменение профиля
      operationId: updateUser
      requestBody:
        description: Изменение профиля
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RequestUser'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        default:
          description: Unexpected error
      security:
        - bearerHttpAuthentication: []
    get:
      tags:
        - user
      summary: Получение всех пользователей
      operationId: listUsers
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        default:
          description: Unexpected error
      security:
        - bearerHttpAuthentication: []
  /collections/users/auth-with-password:
    post:
      tags:
        - user
      summary: Авторизация
      operationId: auth
      requestBody:
        description: Регистрация
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAuth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAuth'
        default:
          description: Unexpected error
  /collections/words/records:
    get:
      tags:
        - words
      summary: Получение слов
      operationId: words
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWords'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        default:
          description: Unexpected error
  /collections/animals/records:
    get:
      tags:
        - animals
      summary: Получение животных
      operationId: animals
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAnimals'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        default:
          description: Unexpected error
  /api/realtime:
    description: |
      WebSocket-эндпоинт для реального времени в PocketBase.
      Подключение: `new WebSocket('ws://your-pb-instance/api/realtime')`.
    x-websocket: true  # Кастомное поле для обозначения WebSocket
    parameters:
      - name: token
        in: query
        description: Аутентификационный токен (если требуется)
        required: false
        schema:
          type: string
    # Можно описать сообщения (примерно)
    get:
      summary: Подключение к WebSocket
      responses:
        '101':
          description: Switching Protocols (успешное подключение WebSocket)
components:
  securitySchemes:
    bearerHttpAuthentication:
      description: Bearer token using a JWT
      type: http
      scheme: Bearer
  schemas:
    RequestRegister:
      type: object
      properties:
        email:
          type: string
          format: string
          example: 'example@test.ru'
        password:
          type: string
          format: string
        passwordConfirm:
          type: string
          format: string
    ResponseRegister:
      type: object
      properties:
        avatar:
          type: string
        collectionId:
          type: string
        collectionName:
          type: string
        created:
          type: string
        emailVisibility:
          type: boolean
        firstname:
          type: string
        id:
          type: string
        lastname:
          type: string
        secondname:
          type: string
        total:
          type: integer
        updated:
          type: string
        verified:
          type: boolean
    RequestAuth:
      type: object
      properties:
        identity:
          type: string
          format: string
          example: 'example@test.ru'
        password:
          type: string
          format: string
    User:
      type: object
      properties:
        avatar:
          type: string
        collectionId:
          type: string
        collectionName:
          type: string
        created:
          type: string
        email:
          type: string
        emailVisibility:
          type: boolean
        firstname:
          type: string
        id:
          type: string
        lastname:
          type: string
        secondname:
          type: string
        total:
          type: integer
        updated:
          type: string
        verified:
          type: boolean
    ResponseAuth:
      type: object
      properties:
        record:
          $ref: '#/components/schemas/User'
        token:
          type: string
          format: string
    RequestUser:
      type: object
      properties:
        avatar:
          type: string
          format: binary
        email:
          type: string
        emailVisibility:
          type: boolean
        firstname:
          type: string
        lastname:
          type: string
        secondname:
          type: string
        total:
          type: integer
    Error400:
      type: object
      properties:
        status: 
          type: integer
          example: 400
        message:
          type: string
          example: "Failed to create record."
        data:
          type: object
    ResponseWords:
      type: object
      properties:
        page:
          type: integer
          format: integer
        perPage:
          type: integer
          format: integer
        totalPages:
          type: integer
          format: integer
        totalItems:
          type: integer
          format: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Words'
    ResponseAnimals:
      type: object
      properties:
        page:
          type: integer
          format: integer
        perPage:
          type: integer
          format: integer
        totalPages:
          type: integer
          format: integer
        totalItems:
          type: integer
          format: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Animals'
    Animals:
      type: object
      properties:
        collectionId:
          type: string
        collectionName:
          type: string
        id:
          type: string
        field:
          type: string
        created:
          type: string
        updated:
          type: string
    Words:
      type: object
      properties:
        collectionId:
          type: string
        collectionName:
          type: string
        id:
          type: string
        transcription:
          type: string
        ru:
          type: string
        en:
          type: string
        ch:
          type: string
        created:
          type: string
        updated:
          type: string
